# ---- Node dependencies ----
node_modules/

# ---- Environment variables ----
.env

# ---- Logs ----
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ----Temporary data ----
tmp/

# ---- Build or dist outputs ----
dist/
build/

# ---- OS / IDE files ----
.DS_Store
Thumbs.db
.vscode/
.idea/
